<?xml version="1.0" ?>
<rpm>
	<login>
		<user>rpm</user>
		<pass>open</pass>
	</login>
	<urls>
		<main>.cmamdm.enterprise.corp/rpm/console/console-servlet/</main>
		<overview>overview</overview>
		<batch>batchsummary</batch>
		<report>servicelevels;report</report>
		<bdsprod>http://bdsprod</bdsprod>
		<smsprod>http://smsprod</smsprod>
		<bds12>http://itbds12</bds12>
		<sms12>http://itsms12</sms12>
		<bds13>http://itbds13</bds13>
		<sms13>http://itsms13</sms13>
		<mailserver>EXCMAH.cmamdm.enterprise.corp</mailserver>
		<mailRecipient>enterprisescheduler@cma.ca</mailRecipient>
	</urls>
	<limits>
		<reportWarningTime>1440</reportWarningTime>
		<maxPages>20</maxPages>
		<rpmSessionTimeout>600</rpmSessionTimeout>
	</limits>
	<systemsToMonitor>
		<system>bdsprod</system>
		<system>smsprod</system>
	</systemsToMonitor>
</rpm>